/* CSS Document */
body{
    background-color:#FFFFFF;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#000000;
}
#utama{
    margin:0 auto;
    border:2px solid #000000;
    width:1200px;
    background-color:white;
}
#header{
    font-weight: bold;
    font-family:Orbitron;
    font-size:40;
    color:black;
    height:50px;
    background-color:white;
    padding:40px ;
    text-align: center;
}
#headeradmin{
    font-family:Orbitron;
    color:#1672ED;
    height:50px;
    background-color:#003377;
    font-size:28;
    text-align:center;
    padding:33px 5px 8px;
}
#menu {
    background-color:black;
    height:43px; 
    float:left;
    color: white;
    width:1200px;
    border:1px solid #000000;
    border-left:0px;
    border-right:0px;
}
#menu ul {
    font-family: Orbitron;
    font-size: 15;
    margin: 0;
    padding: 0;
    border: 0;
}
#menu ul a {
    display: block;
    text-decoration: none;
    padding: 13px 13px 12px 13px;
    font-weight: bold;
    white-space: nowrap;
    color:white;
    float: left;
}
#menu ul li{
    display:inline
}
#menu ul a:hover {
    color:gray;
}
#menu ul a.active {   
    color:gold;
}
#menulogin{
    float:right;
    }


#bg_menukiri{
background-color: black;
color:white;
font-weight:bold;
padding:14px;
padding-top:10px;
border:1px solid #000000;
border-bottom:0px;
}

#isi_menu_kiri{
background-color:white;
padding:8px;
border:1px solid #000000;
-moz-border-radius-bottomleft:15px;
margin-bottom:10px;
padding-top:7px;
padding-bottom:10px;
color:#000000
}
#isi_menu_kiri a{
font: 11px Arial Helvetica, sans-serif;
font-size:15px;
padding:4px;
color:black;
display:block;
text-decoration:none;
border:1px solid #999999;
border-left:0px;
border-right:0px;
border-top:0px;
padding-bottom:6px;
}
#isi_menu_kiri a:hover{
border:1px solid gray;
padding:4px;
background-color:white;
color:black;
display:block;
padding-bottom:5px;
}
#isi_menu_kiri1{
background-color: black;
padding:8px;
border:1px solid #000000;
-moz-border-radius-bottomleft:15px;
margin-bottom:10px;
padding-top:7px;
padding-bottom:10px;
color:#000000
}

#sidebar{
    width:220px;
    float:left;
    margin:8px;
}
#sidebaradmin{
    width:220px;
    float:left;
    margin:8px;
}
#bg_sidebar{
    background-color: black;
    font-size: 20;
    color:white;
    font-weight:bold;
    padding:14px;
    padding-top:10px;
    border:0px solid #000000;
}
#isi_sidebar{
    background-color:#D2F2E2;
    text-align:center;
    padding:8px;
    border:2px solid #000000;
    margin-bottom:10px;
    padding-top:8px;
    padding-bottom:10px;
    color:#000000;
}
#konten{
    background-color:white;
    border:2px solid black;
    width:920px;
    float:right;
    margin:12px;
    padding:8px;
}

#isi_konten{
    background-color:#EDEDED;
    padding:8px;
    border:2px solid #000000;
    line-height:18px;
    margin-bottom:10px;
    padding-top:4px;
    padding-bottom:11px;
}
.clear{
    clear:both;
    float:none;
}
#footer{
    background-color:white;
    padding:5px;
    border:2px solid #000000;
    border-left:0px;
    border-right:0px;
    height:40px;
    font-size:12px;
    color:black;
    padding-top:24px;
}
#table { width:100%; font: 10px Arial Helvetica, sans-serif;
         color: black; border-collapse: collapse; border-spacing: 0;  border:2px solid #black;} 
#table th { color: black; background-color:white; font-size:15px; padding:2px 5px; border:2px solid black;} 
#table td { font-size: 12px; text-align: center; padding: 2px 5px; background-color: white;  border:2px solid black;} 
#table tr:nth-child(odd) td { background-color: white;  border:2px solid black;}



